$maxWidth: 1200px;
$large-deskop: 1400px;
$mobile: 992px;
$xs: 576px;
$radius: 6px;
@mixin large-desktop {
  @media (min-width:#{$large-deskop}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width:#{$mobile}) {
    @content;
  }
}
@mixin mobile-xs {
  @media (max-width:#{$xs}) {
    @content;
  }
}
.maxWidth {
  max-width: 90%;
  margin: 0 auto !important;
  @include large-desktop() {
    max-width: $maxWidth;
  }
}
// color
$white: white;
$nav-1: #1c2965;
$btn-color: #ffc50e;
$game-footer: #8f8f8f;
$mn-active: #314bc0;
$icon-fb: #316a9a;
$icon-gg: #f34a38;
//
// font
.font-static {
  font-family: "Roboto Condensed", sans-serif;
}
//
.div-static {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.borderRadius {
  border-radius: 6px;
  box-shadow: 0px 0px 2px 0px grey;
}
