@import "../../../../assets/style/variables";
@import "../section-left/style";
.section-right {
  padding: 0 !important;
  @include mobile() {
    display: none !important;
  }
  @extend .section-left;
  .title {
    justify-content: space-around !important;
    .title-game-active {
      color: $mn-active !important;
    }
  }
  .game-avatar {
    width: 100%;
    border-radius: $radius;
  }
  .game-fullname {
    @extend .font-static;
    position: relative;
    overflow: hidden !important;
    height: 3.5rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  .btn-read-more {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    font-size: 1rem;
    color: black;
    margin-top: 8px;
    cursor: pointer;
    &:hover {
      background-color: $btn-color;
    }
  }
}
