@import "../../../../assets/style/variables.scss";
.form-container {
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  padding-top: 1.5rem;
  height: 350px;
  position: relative;
  @include mobile {
    display: none !important;
  }
  .-title {
    display: none;
  }
  .form {
    .ant-input-prefix {
      font-size: 20px !important;
    }
    input {
      height: 50px;
      border-radius: 0;
      border: solid 1px #e5e5e5;
      background-color: #ffffff;
      padding-left: 40px !important;
    }
    .form-control {
      span {
        display: flex;
        flex-direction: column;
      }
      .login-form-forgot {
        height: 30px;
        align-items: center;
        display: flex;
      }
      .login-form-button {
        font-weight: bold;
        font-size: 16px;
        background-color: $btn-color;
        border-color: $btn-color;
        color: $nav-1;
        height: 50px;
      }
    }
  }
  hr {
    position: absolute;
    z-index: 9;
    width: 89%;
    bottom: 40px;
    border-color: #f7f7f780;
  }
  .text-or {
    color: #9a9494c2 !important;
    position: absolute;
    bottom: 38px;
    z-index: 9;
    left: 44%;
    background: white;
    width: 50px;
  }
  .icon-social {
    @extend .div-static;
    justify-content: center;
    .icon-social-fb {
      font-size: 25px;
      margin: 0px 5px;
      padding-bottom: 3px;
      color: $icon-fb;
    }
    .icon-social-gg {
      font-size: 30px;
      margin: 0 5px;
      color: $icon-gg;
    }
  }
}
.form-login {
  @include mobile {
    display: block !important;
  }
  height: auto !important;
  .form-login-title {
    font-size: 20px;
    font-weight: bold;
  }
  hr {
    bottom: 45px;
  }
  .text-or {
    bottom: 42px;
  }
  .icon-social {
    .icon-social-fb {
      font-size: 35px;
    }
    .icon-social-gg {
      font-size: 40px;
    }
  }
  .icon-phone {
    transform: rotate(90deg);
  }
  .user-info {
    padding: 0 1rem;
    .info {
      text-align: left;
      padding-left: 1.5rem;
      h3 {
        @extend .font-static;
        font-size: 20px;
        font-weight: bold;
        color: $mn-active;
      }
      .user-id {
        font-size: 1rem;
        // margin-bottom: 1rem;
      }
    }
  }
  .menus {
    text-align: left;
    font-size: 1.2rem;
    margin-top: 2rem;
    div {
      padding: 1rem 0;
      border-bottom: 1px solid $border-bt;
      i {
        margin-right: 1rem;
      }
    }
    div:last-child {
      border: 0;
    }
  }
}
.login-active {
  @include mobile() {
    display: none !important;
  }
  height: 350px !important;
}
