@import "../../assets/style/variables.scss";
.footer {
  padding: 1rem 0 0 0;
  background: white;
  // position: fixed;
  // width: 100%;
  // bottom: 0;
  p {
    color: #424242 !important;
  }
  .container {
    @extend .maxWidth;
    .footer-info {
      text-align: left;
      @include mobile {
        margin-bottom: 1rem;
      }
    }
    .logo {
      text-align: right;
      @include mobile() {
        text-align: left;
        margin-top: 1rem;
      }
      .icon-social {
        font-size: 24px;
        margin: 1rem 6px;
        color: #595a68;
      }
      .fb {
        color: $icon-fb;
      }
      .gg {
        color: $icon-gg;
      }
    }
  }
  .footer-end {
    background: #383838;
    border-top: 2px solid $btn-color;
    color: white;
    padding: 1rem 0 0;
    div {
      @extend .maxWidth;
      @include mobile-xs {
        max-width: 95% !important;
      }
      // div{
      //   @extend .div-static;
      //   justify-content: flex-end;
      // }
      ul {
        list-style-type: none;
        padding: 0;
        @extend .div-static;
        justify-content: left;
        li {
          a {
            border-right: 1px solid white;
            color: white;
            margin-right: 5px;
            padding-right: 5px;
            @include mobile-xs {
              font-size: 12px;
            }
          }
        }
      }
    }
    .coppy-right {
      @include mobile-xs {
        width: 95%;
        text-align: center !important;
      }
    }
  }
}
.account-ft{
  position: fixed;
}
